@import "./variaveis.scss";

.sobre-web-design{
    justify-content: space-between;
    align-items: center;
    //article
    article{
        width: 250px;
        //h1
        h1{
            font-size: $font-h1;
            line-height: 90%;
            font-weight: 400;
            color:$color-secundaria;  
        }
        //End h1
 //h2 e p       
 h2,
 p{
     color:$color-primaria}
     //End h2 e p
      // h2
     h2{
        font-size: $font-h2;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 200%;
    }
    // p
    p{
        margin: 10px 0 40px;
    }
    //End p
    //Figcaption 
    figcaption{
        width: 700px;
    }
    //End figcaption
    }
    //End article
}










